body {
	margin:0px;
	width:100%;
	font-family: "Open Sans","sans serif";
}

#menu {
	float:right;
}

#menu ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	font-size: 14px;
	position: relative;
	text-align:center;
}

#menu a {
	text-decoration:none;
	color:white;
}

#menu li {
	float: left;
	margin:25px;
}

#logo {
	color:white;
	float:left;
}

#header {
	background-image:  linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5) ), url("img/1.jpg");
	padding:30px;
	background-repeat: no-repeat;
	background-size: cover;
	height:700px;
}

#titleHALO {
	padding-top:50px;
}

#haloBig {
	font-size:130px;
	color:white;
	font-weight:300;
	opacity: 1;
	margin-bottom:0px;
}

#subTitle {
	color: white;
    font-size: 60px;
    line-height: 1.4;
    position: relative;
}