body {
	margin:0;
	padding:0;
	font-family: roboto;
}

*{
	outline: none;
}

#topmenu {
	width: calc(100% - 100px);
	background-color: black;
	padding: 0px 50px;
	display: block;
	top:0;
	left:0;
	overflow: hidden;
}

#topmenu ul, #mainmenu ul {
	list-style-type: none;
    overflow: hidden;
	font-size: 12px;
	font-weight: bold;
	position: relative;
	text-align:center;
}


#topmenu a {
	text-decoration:none;
	color:white;
}

#topmenu li, #mainmenu li {
	float: left;
	margin:5px;
}

#mainmenu {
	width: 100%;
	padding: 20px 100px;
	width: calc(100% - 200px);
	overflow: hidden;
}

#mainmenu img {
	max-width: 100px;
}

#mainmenu a {
	text-decoration:none;
	color:grey;
	font-size: 14px;
}

#mainmenu a:hover {
	text-decoration:none;
	color:#003399;
}

#registerNow {
	float:left;
}

#registerNow a {
	margin-left: 10px;
	color:white;
	background-color: #003399;
	border-radius: 20px;
	padding: 5px 15px;
	text-transform: uppercase;
}

#registerNow a:hover {
	background-color: blue;
	color:white;
}

#active a {
	color:#003399;
}
.mySlides {
	display:none;
}
.button:hover {
	background-color: grey;
}
.button {
	color: white; 
	background-color: rgba(51, 170, 51, .1);
	position: absolute; 
	top: 50%;
	width: 50px;
	height: 50px;
	font-size: 20px;
	border-radius: 50%;
	font-size: 24px;
	outline: none;
}

.left {
	left: 4%;

}
.right {
	right: 4%;
}
.container {
	width:100%;
	margin:0px auto;
	position:relative;
}

#welcome {
	padding-top: 50px;
	overflow: hidden;
}

#welcome h1 {
	color:black;
	text-transform: uppercase;
	padding-top: 20px;
}

#welcome p, #welcome h1 {
	padding:5px 30px 0px 100px;
}

#welcome p {
	line-height: 26px;
    font-weight: 400;
    color: #505050;
    font-family: Roboto;
    font-size: 14px;	
}

#welcomerow {
	text-align: center;
	padding-left: 100px;
	padding-right: 40px;
	display:flex;
	justify-content: space-around;
}

#welcomerow h2 {
	font-size: 15px;
    margin-bottom: 0;
    margin-top: 25px;
    font-weight: 600;
    color: #212121;
    text-transform: uppercase;
}

#events {
	overflow: hidden;
	padding:100px;
}

#aview {
	line-height: 34px;
    height: 36px;
    padding: 5px 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background-color: none;
    border: 1px solid black;
}

#aview:hover {
	background-color: #003399;
	color: white;
	cursor: pointer;
}

.article {
	overflow: hidden;
    border-top: 1px solid #eee;
    padding: 50px 0 60px;
    display: flex;
    justify-content: space-between;
}

.tsec_block h5{
	font-size: 15px;
   color: #777777;
}
.tsec_block{
	text-align: center;
	height:697px;
	width:25%;
}

.cont3{
	width: 1110px;
	margin: auto;
	padding: auto;
	display:flex;
	flex-wrap:wrap;
	justify-content: space-between;
}

.cont3 h5 {
	color:#777;
	font-size: 14px;
    font-weight: 300;
    line-height: 1.5em;
	margin:0px;
	padding:0px;
}

.tsec_block_first,.tsec_block_second,
.tsec_block_third,.tsec_block_four{
	margin-top: 50px;
	text-align: center;
}

.tsec_block_first h3:hover{
	color: #00ff8c;
	cursor: pointer;
}
.tsec_block_first img:hover{
	color: #00ff8c;
	cursor: pointer;
}
.tsec_block_second h3:hover{
	color: #00ff8c;
	cursor: pointer;
}
.tsec_block_third h3:hover{
	color: #00ff8c;
	cursor: pointer;
}
.tsec_block_four h3:hover{
	color: #00ff8c;
	cursor: pointer;
}